<!-- comment.html start -->

{% load i18n %}
{% load static %}
{% load humanize %}
{% load tz %}
{% load dict_value %}

{# --- template variable defines for includes --- #}
{# comment template expects: 'comment_data' as CommentData #}
{#                           'content_status' as dict with key: comment id, value: ContentStatus #}

<div id="id--comment-card-{{ comment_data.comment.id }}" class="card">
    <div class="card-body">
        <div class="row">
            <!-- author avatar and user link -->
            <div class="col-sm-2 mt-0 mb-0">
                <img src="{{ comment_data.avatar_url }}" width="40px" height="40px" alt="{{ comment_data.comment.user.username }} image"
                     id="id--comment-avatar-{{ comment_data.comment.id }}">
                <p class="mt-0 mb-0">
                    <a id="id--comment-avatar-link-{{ comment_data.comment.id }}"
                       href="{% url 'user:user_id' comment_data.comment.user.id %}">{{ comment_data.comment.user.username }}
                    </a>
                </p>
            </div>
            <!-- comment details -->
            <div class="col-sm-10 mt-0 mb-0">
                <div class="row">
                    <div class="col-sm-10 mt-0 mb-0" id="id--comment-content-{{ comment_data.id }}">
                        {% dict_value content_status comment_data.id as status %}
                        {% if status.review_wip %}
                            <em>{{ under_review_content }}</em>
                        {% elif status.hidden %}
                            <em>{{ hidden_content }}</em>
                        {% else %}
                            {{ comment_data.comment.content | safe }}
                        {% endif %}
                    </div>
                    <div class="col-sm-2 mt-0 mb-0">
                        {# HACK display id for dev purposes #}
                        <span class="badge rounded-pill text-bg-warning">{{ comment_data.id }}</span>
                    </div>
                </div>
                <div class="row">
                    <!-- comment updated info -->
                    <div class="col-sm-6 mt-0 mb-0">
                        {{ comment_data.comment.updated | localtime | naturaltime }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- comment.html end -->
