<!-- comment.html start -->

{% load i18n %}
{% load static %}
{% load humanize %}
{% load tz %}
{% load dict_value %}

{# --- template variable defines for includes --- #}
{# comment template expects: 'comment_data' as CommentData #}
{#                           'content_status' as dict with key: comment id, value: ContentStatus #}

<div id="id--comment-card-{{ comment_data.id }}" class="card">
    <div class="card-body">
        <div class="row">
            <!-- author avatar and user link -->
            <div class="col-sm-2 mt-0 mb-0">
                <img src="{{ comment_data.avatar_url }}" width="40px" height="40px" alt="{{ comment_data.user.username }} image"
                     id="id--comment-avatar-{{ comment_data.id }}">
                <p class="mt-0 mb-0">
                    <a id="id--comment-avatar-link-{{ comment_data.id }}"
                       href="{% url 'user:user_id' comment_data.user.id %}">{{ comment_data.user.username }}
                    </a>
                </p>
            </div>
            <!-- comment details -->
            <div class="col-sm-10 mt-0 mb-0">
                <div class="row">
                    <div class="col-sm-10 mt-0 mb-0" id="id--comment-content-{{ comment_data.id }}">
                        {% dict_value content_status comment_data.id as status %}
                        {% if status.deleted %}
                            <em>{{ deleted_content }}</em>
                        {% elif status.review_no_show %}
                            <em>{{ under_review_comment }}</em>
                        {% elif status.hidden %}
                            <em>{{ hidden_content }}</em>
                        {% else %}
                            {{ comment_data.content | safe }}
                        {% endif %}
                    </div>
                    <div class="col-sm-2 mt-0 mb-0">
                        {# HACK display id for dev purposes #}
                        <span class="badge rounded-pill text-bg-warning">c{{ comment_data.id }} o{{ comment_data.opinion.id }}</span>
                    </div>
                </div>
                <div class="row">
                    <!-- comment updated info -->
                    <div class="col-sm-6 mt-0 mb-0">
                        {{ comment_data.updated | localtime | naturaltime }}
                    </div>
                    <!-- comment reactions -->
                    <div class="col-sm-6 mt-0 mb-0 justify-content-start">

                        {# --- template variable defines for includes --- #}
                        {# reactions template expects: 'target_id' as id of target opinion/comment #}
                        {#                             'target_slug' as slug of target opinion/comment #}
                        {#                             'target_type' as opinion/comment #}
                        {#                             'target_author' as id of opinion/comment author #}
                        {#                             'reactions' as list of Reaction #}
                        {#                             'reaction_ctrls' as dict of ReactionCtrl #}
                        {% with reactions=comment_reactions %}
                            {% with target_type="comment" %}
                                {% with target_id=comment_data.id %}
                                    {% with target_author=comment_data.user.id %}
                                        {% with target_slug=comment_data.slug %}
                                            {% include "opinions/snippet/reactions.html" %}
                                        {% endwith %}
                                    {% endwith %}
                                {% endwith %}
                            {% endwith %}
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- comment.html end -->
