{% load i18n %}
{% load form_field %}
{# comment modal template expects: 'form' as CommentForm #}

<div class="modal fade" id="id--comment-modal" tabindex="-1" aria-labelledby="Create comment" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-fullscreen-md-down modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">

            <var id="id--comment-submit-url" hidden>
                {# content replaced by click event handler for button #}
            </var>

            <div class="modal-header">
                <h5 class="modal-title" id="id--comment-modal-heading">Add comment</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" action="{% url 'opinions:comment_opinion_id' opinion.id %}"
                  id="id--comment-modal-form">
                {# form action defaults to comment on opinion, but it is overridden by content of 'id--comment-submit-url' #}
                {# which is set by the click handlers on reaction buttons #}

                {% csrf_token %}

                <div id="id--form-errors-container">
                    {% include "snippet/form_errors.html" %}
                </div>

                <div class="modal-body">
                    <fieldset>
                        <div class="row mb-3">
                            {% form_field form 'content' as content_field %}
                            <div class="col-sm-2 text-start">
                                <label for="{{ content_field.auto_id }}" class="form-label">{{ content_field.label }}</label>
                            </div>
                            <div class="col-sm-10">
                                {{ content_field }}
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans "Cancel" %}</button>
                    <button type="submit" class="btn__save-comment btn btn-outline-success">{% trans "Save" %}</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        /* Due to how HTML5 defines its semantics, the autofocus HTML attribute has no effect in Bootstrap modals.
           To achieve the same effect, use some custom JavaScript
           https://getbootstrap.com/docs/5.2/components/modal/#how-it-works
         */
        {% form_field form 'content' as content_field %}
        $("#id--comment-modal").on('shown.bs.modal', (event) => {
            $("#{{ content_field.auto_id }}").focus();
        });

        /* Clear form errors and entered data when modal hidden */
        $("#id--comment-modal").on('hidden.bs.modal', (event) => {
            $("#id--form-errors-container").html("");
            /* TODO find method of clearing editor content and remove all stored history
                suggested method (https://summernote.org/deep-dive/#reset) doesn't work (maybe because in iframe?)
                Can clear input element using $("#{{ content_field.auto_id }}").val("") but editor content is still displayed
             */
        });

        /* Submit handler for comment modal */
        $("form[id^='id--comment-modal']").submit(function (event) {
            const formData = {
                content: $("#{{ content_field.auto_id }}").val(),
            };

            const url = $("#id--comment-submit-url").text();

            $.ajax({
                method: 'post',
                url: url,
                headers: {
                    'X-CSRFTOKEN': '{{ csrf_token }}'
                },
                data: formData,
            }).done(function(data) {
                // add new comment to end of container
                $("#" + data.parent_container).append(data.html);

                // make toggle visible and expand collapse if necessary
                if (!data.opinion_comment) {
                    $("#" + data.parent_container + "-toggle").removeAttr('hidden');
                    $("#" + data.parent_container + "-toggle").removeClass('collapsed');

                    const bsCollapse = new bootstrap.Collapse("#" + data.parent_container, {
                        toggle: false
                    });
                    bsCollapse.show();
                }
                // close modal
                $("#id--comment-modal").modal('hide');

                // set click handlers for reactions
                setReactionHandlers();

            }).fail(function(data) {
                // redisplay modal
                $("#id--form-errors-container").html(data.responseJSON.html);
            });

            event.preventDefault();
        });
    });
</script>
