<!-- hide_modal.html start -->
{% load i18n %}

<div class="modal fade" id="id--hide-modal" tabindex="-1" aria-labelledby="id--hide-modal-heading" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-fullscreen-md-down modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">

            <var id="id--hide-submit-url" hidden>
                {# content replaced by click event handler for button #}
            </var>
            <var id="id--hide-submit-option" hidden>
                {# content replaced by click event handler for button #}
            </var>

            <div class="modal-header">
                <h5 class="modal-title" id="id--hide-modal-heading">
                    {# content replaced by click handler #}
                    Hide
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to <span id="id--hide-modal-action">{# content replaced by click handler#}</span> this <span id="id--hide-modal-element">{# content replaced by click handler#}</span>?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark btn__text" data-bs-dismiss="modal">
                    {% trans "Cancel" %}
                </button>
                <button id="id--submit-btn-hide-modal" type="submit" class="btn__save-comment btn btn-outline-success btn__text">
                    {% trans "Hide" %}
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    const hideModalSelector = "#id--hide-modal";
    const hideSubmitUrlSelector = "#id--hide-submit-url";
    const hideSubmitOptionSelector = "#id--hide-submit-option";

    $(document).ready(function () {

        /* Submit handler for hide modal */
        $("#id--submit-btn-hide-modal").on('click', function (event) {

            $("#" + event.currentTarget.id).tooltip("hide");

            const url = $(hideSubmitUrlSelector).text();
            const option = $(hideSubmitOptionSelector).text();

            $.ajax({
                url: url + "?status=" + option,
                method: 'patch',
                headers: {
                    'X-CSRFTOKEN': '{{ csrf_token }}'
                }
            }).done(function(data) {
                react_response_handler(data);

                // close modal
                $(hideModalSelector).modal('hide');

                // set click handlers for reactions
                setReactionHandlers();
                enableTooltips();
            });
        });
    });
</script>
<!-- hide_modal.html end -->
