<!-- modal_common.html start -->
<script>
    /**
     * Set focus when modal displayed
     * @param modalSelector: modal selector
     * @param focusTarget: focus target selector
     */
    function modalFocus(modalSelector, focusTarget) {
        /* Due to how HTML5 defines its semantics, the autofocus HTML attribute has no effect in Bootstrap modals.
           To achieve the same effect, use some custom JavaScript
           https://getbootstrap.com/docs/5.2/components/modal/#how-it-works
         */
        $(modalSelector).on('shown.bs.modal', (event) => {
            $(focusTarget).focus();
        });
    }

    /**
     * Clear form errors and entered data when modal hidden
     * @param modalSelector: modal selector
     * @param errorsSelector: error container selector
     * @param inputSelector: input selector
     * @param isSummernote: is summernote input flag
     */
    function resetModalForm(modalSelector, errorsSelector, inputSelector, isSummernote = false) {
        /* Clear form errors and entered data when modal hidden */
        $(modalSelector).on('hidden.bs.modal', (event) => {
            $(errorsSelector).html("");
            if (isSummernote) {
                /* TODO find method of clearing summernote editor content and remove all stored history
                    suggested method (https://summernote.org/deep-dive/#reset) doesn't work (maybe because in iframe?)
                    Can clear input element using $(inputSelector).val("") but editor content is still displayed
                 */
            } else {
                $(inputSelector).val("")
            }
        });
    }
</script>
<!-- modal_common.html end -->
