<!-- reactions.html start -->

{# --- template variable defines for includes --- #}
{# reactions template expects: 'target_id' as id of target opinion/comment #}
{#                             'target_type' as opinion/comment #}
{#                             'reactions' as list of Reaction #}
{#                             'reaction_ctrls' as dict of ReactionCtrl #}

{% load dict_value %}
{% load reaction_ul_id %}
{% load reaction_li_id %}
{% load reaction_button_id %}

{% reaction_ul_id target_type target_id as ul_id %}
<ul id="{{ ul_id }}" class="nav list-unstyled d-flex">
  {% for reaction in reactions %}
      {% reaction_li_id reaction target_id as li_id %}
      <li id="{{ li_id }}">
          {# id is "id--react-{{ [agree|disagree|comment|follow|share|hide|report]-[opinion|comment] }}-{{ id of target [opinion|comment] }}", used to assign click handlers #}
          {# tooltip needs to be on the button as the outer element, modal is in the inner span, otherwise tooltip reappears after closing modal #}
          {% reaction_button_id reaction target_id as button_id %}
          {% dict_value reaction_ctrls button_id as ctrl %}
          <button id="{{ button_id }}" type="button" aria-label="{{ reaction.aria }}"
              {% if ctrl.selected %}
                  class="reactions reactions-selected"
              {% elif ctrl.disabled %}
                  class="reactions reactions-disabled"
              {% else %}
                  class="reactions"
              {% endif %}
              {% if ctrl.disabled %}
                  disabled
              {% endif %}
                  data-bs-href="{% url reaction.url target_id %}"
                  data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="{{ reaction.name }}">
              <span
                  {% if reaction.type == "modal" %}
                      data-bs-toggle="modal" data-bs-target="{{ reaction.option }}"
                  {% else %}
                      data-bs-option="{{ reaction.option }}"
                  {% endif %}
                >
                <i class="{{ reaction.icon }}"></i>
              </span>
          </button>
      </li>
  {% endfor %}
</ul>

<!-- reactions.html end -->
