<!-- reactions.html start -->
{# --- template variable defines for includes --- #}
{# reactions template expects: 'target_id' as id of target opinion/comment #}
{#                             'target_slug' as slug of target opinion/comment #}
{#                             'target_type' as opinion/comment #}
{#                             'target_author' as id of opinion/comment author #}
{#                             'reactions' as list of Reaction #}
{#                             'reaction_ctrls' as dict of ReactionCtrl #}

{% load dict_value %}
{% load reaction_ul_id %}
{% load reaction_li_id %}

{% reaction_ul_id target_type target_id as ul_id %}
<ul id="{{ ul_id }}" class="nav list-unstyled d-flex">
    {% for reaction in reactions %}
        {% reaction_li_id reaction target_id as li_id %}
        <li id="{{ li_id }}">
            {% include "opinions/snippet/reaction.html" %}
        </li>
    {% endfor %}
</ul>
<!-- reactions.html end -->
