<!-- view_comments.html start -->

{# --- template variable defines for includes --- #}
{# view comments template expects: 'comments' as list[CommentBundle] #}

{% block view_comments %}
    {% for bundle in comments %}

      {# --- template variable defines for includes --- #}
      {# comment bundle template expects: 'bundle' as CommentBundle #}
      {#                                  'content_status' as dict with key: comment id, value: ContentStatus #}

      {% include "opinions/snippet/comment_bundle.html" %}

    {% endfor %}
{% endblock view_comments %}

<!-- view_comments.html end -->
