
main {

}

.socials {
    color: var(--bs-body-color);
    font-size: 1.5em;
    padding-left: 0.3em;
    padding-right: 0.3em;
}

/* tiny screens, 315px wide or less */
@media screen and (max-width: 315px) {

    main {

    }
}

/* tiny screens, 450px wide or less */
@media screen and (max-width: 450px) {

    .navbar-brand {
        margin-right: 0;
    }

    /* hide logo in footer */
    body > div > footer > div:nth-child(1) > a {
        display: none;
    }
}