

/* custom properties */
:root {
    --user-icon-height: 50px;
    --user-icon-width: 50px;
    --user-icon-radius: 10px;

}


/* Colour classes */
.theme-colour-background {
    background-color: var(--orange-yellow-contrast);
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
}

.active {
    border-bottom: solid 1px var(--paradise-pink);
}

/* user icon */
.div__user-icon {
    width: var(--user-icon-width);
    height: var(--user-icon-height);
    border-radius: var(--user-icon-radius);
}

.div__panel {
    border-radius: 4px;
}

.div__left-panel {

}

.div__right-panel {
    text-align: center;
}

/* tiny screens, 315px wide or less */
@media screen and (max-width: 315px) {

    .div__left-panel {
        margin-bottom: 10px;
    }

    .div__right-panel {
        margin-bottom: 10px;
    }
}
