@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&family=Rubik:ital,wght@0,400;0,700;1,400;1,700&display=swap');


:root {
    /* colour scheme https://coolors.co/f8ffe5-06d6a0-1b9aaa-ef476f-ffc43d */
    --light-yellow: #f8ffe5ff;
    --caribbean-green: #06d6a0ff;
    --blue-munsell: #1b9aaaff;
    --paradise-pink: #ef476fff;
    --orange-yellow: #ffc43dff;

    /* contrast colours by https://color.adobe.com/create/color-contrast-analyzer */
    --orange-yellow-contrast: #3F5366;

    --heading-font: 'Rubik', sans-serif;
    --heading-font-weight: 400;
    --heading-bold-font-weight: 700;
    --paragraph-font: 'Barlow Condensed', sans-serif;
    --paragraph-light-font-weight: 300;
    --paragraph-font-weight: 400;
    --paragraph-bold-font-weight: 600;
}

/* Colour classes */
.theme-colour {
    color: var(--orange-yellow);
}

.site-warning-lead {
    color: red;
}

html {
    height: 100%;
}

/*.main-content {*/
/*    background-repeat: repeat;*/
/*    background-position: center;*/
/*    background-image: url("img/balloons-1187260_1280.png");*/
/*    background-image: -webkit-image-set(*/
/*            url("img/balloons-1187260_1280.webp") 1x*/
/*    );*/
/*    !* TODO the standard way; image-set(). This is a CSS Images Module Level 4 feature,*/
/*        and as the W3C CSS Validator currently only supports CSS3, unable to*/
/*        follow recommendations from https://developer.mozilla.org/en-US/docs/Web/CSS/image/image-set.*/
/*        Also Chrome does not support type: "implementation has not been per the spec, as only URL values*/
/*        were accepted for the image, and only resolutions with 'x' as a unit were accepted"*/
/*        https://chromestatus.com/feature/5432024223449088 *!*/
/*}*/

.no-padding {
    padding: 0;
}

.btn__text {
    width: 7em;
}