<!-- comment_list_content.html start -->
{# --- template variable defines for includes --- #}
{# comment list content template expects: 'paginator' as a Paginator #}
{#                                        'comment_list' as a list of CommentData #}
{#                                        'content_status' as dict with key: comment id, value: ContentStatus #}

{% load i18n %}
{% load static %}
{% load humanize %}
{% load tz %}
{% load dict_value %}

{% block comment_list_content %}
    <var id="var--repeat-search-term" hidden>{{ repeat_search_term }}</var>

    {% if paginator.count == 0 %}
        <div class="row">
            <div class="col-12 mt-2 d-flex justify-content-center">
                <div class="card div__no-content-card">
                    <img src="{% static 'img/no-speak-monkey-148893.png' %}" class="card-img-top" alt="speak no evil monkey image">
                    <div class="card-body">
                        <h4 class="card-text text-center">No comments found.</h4>
                    </div>
                </div>
            </div>
        </div>
    {% else %}

        {% for comment_data in comment_list %}
            <div class="row">
                <div class="col-12 mt-2">
                    <div class="row d-flex align-items-center div__comment-list-padding">
                        {% include "opinions/snippet/comment.html" %}
                    </div>
                </div>
            </div>
        {% endfor %}

        {# per page and page selection #}
        {% with "Opinions per page" as per_page_aria %}
            {% include "opinions/snippet/per_page_pagination_select.html" %}
        {% endwith %}
    {% endif %}
{% endblock comment_list_content %}
<!-- comment_list_content.html end -->
