{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load humanize %}
{% load tz %}
{% load form_field %}
{% load dict_value %}
{% load calc %}

{% block head_title %}SoapBox - {{ title | truncatechars:7 }}{% endblock %}

{% block extra_js_head %}
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script type="text/javascript" src="{% static 'jquery/jquery-3.6.1.min.js' %}"><\/script>')</script>
{% endblock extra_js_head %}

{% block extra_css %}
<link href="{% static 'css/styles-opinion.css' %}" rel="stylesheet">
{% endblock extra_css %}

{% block content %}
<article class="row text-center justify-content-center">

    {% if is_review %}
        {# --- template variable defines for includes --- #}
        {# review request header template expects: 'is_assigned' as current user is assigned reviewer flag #}
        {#                                         'review_record' as list of Review #}
        {% include "opinions/snippet/review_request_header.html" %}
    {% endif %}

    <div class="row mb-3">
        <h1 id="id--title">
            Comment on
            {% if opinion_content_status.review_no_show %}
                {{ under_review_title }} Opinion
            {% else %}
            <!-- title -->
            <a {% if opinion_content_status.view_ok %} href="{% url 'opinions:opinion_id' opinion.id %}?mode=read-only" {% endif %}
               class="post-link" aria-label="read opinion {{ opinion.title }}">
                {{ opinion.title }}
            </a>
            {% endif %}
        </h1>
    </div>

    <div class="row mt-2">
        <!-- author avatar and user link -->
        <div id="id--comment-author" class="col-sm-2 mt-0 mb-3">
            <img src="{{ comment.avatar_url }}" width="40px" height="40px" alt="{{ comment.user.username }} image">
            <p class="mt-0 mb-0">
                <a id="id--comment-avatar-link-{{ comment.id }}" href="{% url 'user:user_id' comment.user.id %}" aria-label="view author's profile">
                    {{ comment.user.username }}
                </a>
            </p>
        </div>
        <!-- comment details -->
        <div class="col-sm-10 mt-0 mb-0">
            <div class="row mb-3">
                <div id="id--comment-content-{{ comment.id }}" class="col-sm-12 mt-0 mb-0">
                    {% dict_value content_status comment.id as status %}
                    <div class="card">
                        <div class="card-body">
                        {% if status.deleted %}
                            <em>{{ deleted_content }}</em>
                        {% elif status.review_no_show %}
                            <em>{{ under_review_comment }}</em>
                        {% elif status.hidden %}
                            <em>{{ hidden_content }}</em>
                        {% else %}
                            {{ comment.content | safe }}
                        {% endif %}
                        {% if is_development and not is_test %}
                            {# display id for dev purposes #}
                            <span class="badge rounded-pill text-bg-warning">c{{ comment.id }} p{{ comment.parent }} o{{ comment.opinion.id }}</span>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <!-- comment updated info -->
                <div class="col-12 mt-0 mb-0">
                    <p><strong>Updated</strong> {{ comment.updated | localtime | naturaltime }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3 justify-content-center">
        {% if not is_review %}
            {# no reactions in review mode #}
            <div class="col-12">
                <div class="card bg-gray-100">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-2 offset-sm-5">
                                <a class="btn btn-dark mb-1 btn__text" href="{% url 'home' %}">{% trans "Done" %}</a>
                            </div>

                            {% if view_ok %}
                            <!-- comment reactions -->
                            <div class="col-sm-5 justify-content-start">
                                {# --- template variable defines for includes --- #}
                                {# reactions template expects: 'target_id' as id of target opinion/comment #}
                                {#                             'target_slug' as slug of target opinion/comment #}
                                {#                             'target_type' as opinion/comment #}
                                {#                             'target_author' as id of opinion/comment author #}
                                {#                             'reactions' as list of Reaction #}
                                {#                             'reaction_ctrls' as dict of ReactionCtrl #}
                                {% with reactions=comment_reactions %}
                                    {% with target_type="comment" %}
                                        {% with target_id=comment.id %}
                                            {% with target_author=comment.user.id %}
                                                {% with target_slug=comment.slug %}
                                                    {% include "opinions/snippet/reactions.html" %}
                                                {% endwith %}
                                            {% endwith %}
                                        {% endwith %}
                                    {% endwith %}
                                {% endwith %}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

    {% if not is_review %}
    {# no comments in review mode #}
    <div class="row mb-3 justify-content-center">
        <div id="id--comments-container" class="col-12 mt-2">
            {# --- template variable defines for includes --- #}
            {# view comments template expects: 'comments' as list[CommentBundle] #}
            {% calc comment.level '+' 1 as next_level %}
            {% with comment_offset=next_level %}
                {% include "opinions/snippet/view_comments.html" %}
            {% endwith %}
        </div>
    </div>
    {% endif %}

    {% if view_ok and not is_review %}
        {% include "opinions/snippet/modal_common.html" %}
        <!-- Modal to create comments -->
        <div id="id--comment-modal-container">
            {% include "opinions/snippet/comment_modal.html" %}
        </div>
        <!-- Modal to create review reports -->
        <div id="id--report-modal-container">
            {% include "opinions/snippet/report_modal.html" %}
        </div>
        <!-- Modal to hide opinion/comment -->
        <div id="id--hide-modal-container">
            {% include "opinions/snippet/hide_modal.html" %}
        </div>
        <!-- Modal to share opinion/comment -->
        <div id="id--share-modal-container">
            {% include "opinions/snippet/share_modal.html" %}
        </div>
    {% endif %}

    {% url 'opinions:review_decision_comment_id' comment.id as action %}
    {% with action_url=action %}
        {% include "opinions/snippet/review_form.html" %}
    {% endwith %}
</article>

{% endblock content %}

{% block extra_js_body %}
    {% include "opinions/snippet/view_js.html" %}
    <script>
        /**
         * Update status of current comment
         * :param new_status: new status, one of 'publish', 'preview' or 'draft'
         */
        function updateStatus(new_status) {
            // TODO {# updateStatusPatch("{% url 'opinions:status_opinion_id' opinion.id %}", new_status); #}
        }

    </script>
    {% if is_review %}
        <script>
            /**
            * Update review status of current comment
            * :param new_status: new status, one of 'withdrawn, 'pending-review',
            *                    'under-review', 'unacceptable' or 'acceptable'
            */
            function updateReviewStatus(new_status) {
                updateStatusPatch("{% url 'opinions:review_status_comment_id' comment.id %}", new_status);
            }
        </script>
    {% endif %}

    {% if not is_review %}
        {# no comments or reactions in review mode #}
        {% include "opinions/snippet/more_placeholder_js.html" %}
        {% include "opinions/snippet/reactions_js.html" %}
    {% endif %}
{% endblock extra_js_body %}
