{% extends "base.html" %}

<!-- comment_list.html start -->
{% load i18n %}
{% load static %}
{% load humanize %}
{% load tz %}
{% load form_field %}
{% load dict_value %}

{% block extra_js_head %}
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script type="text/javascript" src="{% static 'jquery/jquery-3.6.1.min.js' %}"><\/script>')</script>
{% endblock extra_js_head %}

{% block head_title %}SoapBox - {{ title }}{% endblock %}

{% block extra_css %}
<link href="{% static 'css/styles-opinion.css' %}" rel="stylesheet" type="text/css">
{% endblock extra_css %}

{% block content %}
<div class="row mt-2">
{% if page_heading %}
    <div class="col-12 text-center">
        <h3>{{ page_heading | safe }}</h3>
    </div>
{% endif %}
</div>

<div class="row flex-grow-1 overflow-auto d-flex justify-content-center">
    {# sort order select #}
    {% include "opinions/snippet/sort_order_select.html" %}

    <article id="article-content" class="row d-flex justify-content-center">
        {% include "opinions/comment_list_content.html" %}
    </article>
</div>

{% include "opinions/snippet/modal_common.html" %}
<!-- Modal to share opinion/comment -->
<div id="id--share-modal-container">
    {% include "opinions/snippet/share_modal.html" %}
</div>
<!-- Modal to delete comment -->
<div id="id--delete-modal-container">
    {% include "opinions/snippet/comment_delete_modal.html" %}
</div>

{% endblock content %}

{% block extra_js_body %}
    {% include "opinions/snippet/page_content_js.html" %}
    {% include "opinions/snippet/reactions_js.html" %}
{% endblock extra_js_body %}
<!-- comment_list.html end -->
