{% extends "base.html" %}

<!-- opinion_feed.html start -->
{% load i18n %}
{% load static %}
{% load humanize %}
{% load tz %}
{% load form_field %}
{% load dict_value %}

{% block extra_js_head %}
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script type="text/javascript" src="{% static 'jquery/jquery-3.6.1.min.js' %}"><\/script>')</script>
{% endblock extra_js_head %}

{% block head_title %}SoapBox - {{ title }}{% endblock %}

{% block extra_css %}
<link href="{% static 'css/styles-opinion.css' %}" rel="stylesheet">
{% endblock extra_css %}

{% block content %}
{% if page_heading %}
<div class="row mt-2">
    <div class="col-12 text-center">
        <h3>{{ page_heading }}</h3>
    </div>
</div>
{% endif %}

<div class="row flex-grow-1 overflow-auto">
    {# left panel opinions #}
    <div class="col-lg-10 col-md-9 div__left-panel">
        {# category list for feed #}
        {% if is_category_feed %}
            <div class="btn-group flex-wrap">
            {% for category in followed_categories %}
                <a href="{% url 'base:category_feed' %}?category={{ category.name|urlencode }}"
                   {% if category.current %}
                   class="btn btn-success active" aria-current="page"
                   {% else %}
                   class="btn btn-outline-success"
                   {% endif %}
                >
                    {{ category.name }}
                </a>
            {% endfor %}
            </div>
        {% endif %}

        {# sort order select #}
        {% include "opinions/snippet/sort_order_select.html" %}

        <article id="article-content" class="row d-flex justify-content-center">
            {% include "opinions/opinion_list_content.html" %}
        </article>
    </div>
    {# right panel feed navigation #}
    <div class="col-lg-2 col-md-3 bg-light div__panel div__right-panel ">
        <nav class="mt-2">
            <div class="col-12">
                <h3>Feeds</h3>
            </div>
            <div class="mb-2">
                <a href="{% url 'base:following_feed' %}"
                {% if is_following_feed %}
                    class="btn btn-success btn__text"
                {% else %}
                   class="btn btn-outline-success btn__text"
                {% endif %}
                >
                    {% trans "Following" %}
                </a>
            </div>
            <div class="mb-2">
                <a href="{% url 'base:category_feed' %}"
               {% if is_category_feed %}
                   class="btn btn-success btn__text"
               {% else %}
                   class="btn btn-outline-success btn__text"
               {% endif %}
                >
                    {% trans "Category" %}
                </a>
            </div>
            {% if opinion_create or opinion_read %}
            <div class="mt-2">
                <h3>Opinions</h3>
            </div>
            {% endif %}
            {% if opinion_create %}
            <div class="mb-2">
                <a class="btn btn-outline-warning btn__text" href="{% url 'opinions:opinion_new' %}">
                    {% trans "New Opinion" %}
                </a>
            </div>
            {% endif %}
            {% if opinion_read %}
            <div class="mb-2">
                <a class="btn btn-outline-warning btn__text" href="{% url 'opinions:opinions' %}?author={{ user.username }}&status=all">
                    {% trans "My Opinions" %}
                </a>
            </div>
            <div class="mb-2">
                <a class="btn btn-outline-warning btn__text" href="{% url 'opinions:opinions' %}?author={{ user.username }}&status=draft">
                    {% trans "Draft Opinions" %}
                </a>
            </div>
            {% endif %}
        </nav>
    </div>
</div>

{% endblock content %}

{% block extra_js_body %}
    {% include "opinions/snippet/page_content_js.html" %}
    {% include "opinions/snippet/reactions_js.html" %}
{% endblock extra_js_body %}
<!-- opinion_feed.html end -->
