<!-- opinion_list_content.html start -->
{# --- template variable defines for includes --- #}
{# opinion list content template expects: 'paginator' as a Paginator #}
{#                                        'opinion_list' as a list of OpinionData #}
{#                                        'content_status' as a list of ContentStatus in order corresponding to opinion_list #}
{#                                        'popularity' as a dict with 'opinion_<id>' as the key and PopularityLevel value #}

{% load i18n %}
{% load static %}
{% load humanize %}
{% load tz %}
{% load dict_value %}
{% load array_value %}
{% load reaction_popularity %}

{% block opinion_list_content %}
    <var id="var--repeat-search-term" hidden>{{ repeat_search_term }}</var>

    {% if paginator.count == 0 %}
        <div class="row">
            <div class="col-12 mt-2 text-center">
                <h3>No opinions found</h3>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col-12 mt-2">
                <div class="row d-flex align-items-center">
                    {% for opinion in opinion_list %}
                        {% array_value content_status forloop.counter0 as status %}
                        <div class="col-lg-6">
                            <div class="card mb-4">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-8 col-12 mt-0 mb-0">
                                            <!-- title -->
                                            <a {% if status.view_ok %} href="{% url 'opinions:opinion_slug' opinion.slug %}?mode=read-only" {% endif %}
                                               class="post-link">
                                                <h4 id="id--title-{{ forloop.counter }}" class="card-title">
                                                    {% if status.review_no_show %}{{ under_review_title }}{% else %}{{ opinion.title }}{% endif %}
                                                </h4>
                                            </a>
                                            {# HACK display id for dev purposes #}
                                            <span class="badge rounded-pill text-bg-warning">{{ opinion.id }}</span>
                                        </div>
                                        <div id="categories_{{ forloop.counter }}" class="col-sm-3 col-10 mt-0 mb-0">
                                            {% for category in opinion.categories %}
                                            <span class="badge rounded-pill text-bg-info">{{ category }}</span>
                                            {% endfor %}
                                        </div>
                                        <div id="pinned_{{ forloop.counter }}" class="col-sm-1 col-2 mt-0 mb-0">
                                            {# --- template variable defines for includes --- #}
                                            {# reactions template expects: 'target_id' as id of target opinion/comment #}
                                            {#                             'target_slug' as slug of target opinion/comment #}
                                            {#                             'target_type' as opinion/comment #}
                                            {#                             'target_author' as id of opinion/comment author #}
                                            {#                             'reactions' as list of Reaction #}
                                            {#                             'reaction_ctrls' as dict of ReactionCtrl #}
                                            {% with reactions=opinion_reactions %}
                                                {% with target_type="opinion" %}
                                                    {% with target_id=opinion.id %}
                                                        {% with target_author=opinion.user_id %}
                                                            {% with target_slug=opinion.slug %}
                                                                {% include "opinions/snippet/reactions.html" %}
                                                            {% endwith %}
                                                        {% endwith %}
                                                    {% endwith %}
                                                {% endwith %}
                                            {% endwith %}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <!-- excerpt -->
                                        <p id="excerpt_{{ forloop.counter }}" class="card-text text-muted">
                                            {% if status.review_no_show %}{{ under_review_excerpt }}{% else %}{{ opinion.excerpt }}{% endif %}
                                        </p>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-sm-3 col-12 mt-0 mb-0">
                                            {% if status.view_ok %}
                                            <span data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Read">
                                            {% endif %}
                                                <a
                                                    {% if status.view_ok %}
                                                    class="btn btn-primary mb-2" href="{% url 'opinions:opinion_slug' opinion.slug %}?mode=read-only" aria-label="read {{ opinion.title }}"
                                                    {% else %}}
                                                    class="btn btn-primary mb-2 disabled" aria-label="Not available for reading" aria-disabled="true"
                                                    {% endif %}
                                                >
                                                    <i class="fa-solid fa-book-open"></i>
                                                </a>
                                            {% if status.view_ok %}
                                            </span>
                                            {% endif %}
                                            {% if status.mine %}
                                            <span data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Edit">
                                                <a class="btn btn-warning mb-2" href="{% url 'opinions:opinion_slug' opinion.slug %}?mode=edit" aria-label="edit {{ opinion.title }}">
                                                    <i class="fa-solid fa-pen"></i>
                                                </a>
                                            </span>
                                            {% endif %}
                                            {% if is_review and is_moderator %}
                                            <span data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Review">
                                                <a class="btn btn-info" href="{% url 'opinions:opinion_slug' opinion.slug %}?mode=review" aria-label="review {{ opinion.title }}">
                                                    <i class="fa-solid fa-magnifying-glass"></i>
                                                </a>
                                            </span>
                                            {% endif %}
                                        </div>
                                        <div class="col-sm-6 col-8 mt-0 mb-0">
                                            <div class="row mt-0 mb-0">
                                                <div class="col-md-6 mt-0 mb-0">
                                                    <a href="{% url 'user:user_id' opinion.user_id %}" aria-label="view author's profile">{{ opinion.username }}</a>
                                                </div>
                                                <div class="col-md-6 mt-0 mb-0">
                                                    {% dict_value status_bg opinion.status as status_class %}
                                                    <span id="status_{{ forloop.counter }}" class="badge rounded-pill {{ status_class }}">{{ opinion.status }}</span>
                                                </div>
                                            </div>
                                            <p class="mt-0 mb-0">
                                                {{ opinion.updated | localtime | naturaltime }}
                                            </p>
                                        </div>
                                        <div class="col-sm-3 col-4 mt-0 mb-0">
                                            {% reaction_popularity popularity opinion 'agree' as agree_cnt %}
                                            {% reaction_popularity popularity opinion 'comments' as comment_cnt %}
                                            <p class="mt-0 mb-0"><i class="fa-solid fa-hands-clapping"></i>&nbsp;{{ agree_cnt }}</p>
                                            <p class="mt-0 mb-0"><i class="fa-solid fa-comments"></i>&nbsp;{{ comment_cnt }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:2 %}
                </div>
                <div class="row d-flex align-items-center">
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

        {# per page and page selection #}
        {% with "Opinions per page" as per_page_aria %}
            {% include "opinions/snippet/per_page_pagination_select.html" %}
        {% endwith %}
    {% endif %}
{% endblock opinion_list_content %}
<!-- opinion_list_content.html end -->
