{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load form_field %}

{% block head_title %}SoapBox - Profile{% endblock %}

{% block extra_css %}
    <!-- include summernote css - use bootstrap4 to match settings.SUMMERNOTE_THEME -->
    <link href="{% static 'summernote/summernote-bs4.min.css' %}" rel="stylesheet" type="text/css">
{% endblock extra_css %}

{% block extra_js_head %}
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script type="text/javascript" src="{% static 'jquery/jquery-3.6.1.min.js' %}"><\/script>')</script>
{% endblock extra_js_head %}

{% block content %}
<article class="row">
    <div class="col-12 mt-2 text-center">
        <h1>{% trans "Profile" %} <em>{{ user_profile.username }}</em></h1>

        <form
            {% if not read_only %}
                method="post" action="{% url 'user:user_id' user_profile.id %}" enctype="multipart/form-data"
            {% endif %}
        >
            {% if not read_only %}
                {% csrf_token %}
            {% endif %}

            {% include "snippet/form_errors.html" %}

            <fieldset
                    {% if read_only %}
                    disabled
                    {% endif %}
            >
                <div class="row mb-3">
                    <div class="col-6">
                        {# basic user form fields #}

                        {% for field in form %}
                            {% if field.name in lhs_fields %}
                                <div class="row mb-3">
                                    <div class="col-sm-4 text-start">
                                        <label for="id_{{ field.name }}" class="col-form-label">{{ field.label }}</label>
                                    </div>
                                    <div class="col-sm-8">
                                        {{ field }}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>

                    <div class="col-6">
                        {# user avatar field #}
                        <div class="preview">
                            <img src="{{ avatar_url }}" width="100" height="100" alt="Avatar image">
                        </div>
                        {% if not read_only %}
                            {% form_field form 'avatar' as avatar_field %}
                            {{ avatar_field }}
                        {% endif %}
                    </div>
                </div>

                {% if not val_test %}
                {# exclude summernote for html test as its fails the W3C Nu Html Checker #}
                    {% form_field form 'bio' as bio_field %}
                    <div class="row mb-3">
                        <div class="col-sm-2 text-start">
                            <label for="{{ bio_field.auto_id }}" class="form-label">{{ bio_field.label }}</label>
                        </div>
                        <div class="col-sm-10">
                            {% if read_only %}
                                <div id="readonly_content" class="text-start">
                                    {# content replaced #}
                                </div>
                            {% else %}
                                {{ bio_field }}
                            {% endif %}
                        </div>
                    </div>
                {% endif %}

                {% form_field form 'categories' as categories_field %}
                <div class="row mb-3">
                    <div class="col-sm-2 text-start">
                        <label id="followed-categories" for="{{ categories_field.auto_id }}" class="form-label">{{ categories_field.label }}</label>
                    </div>
                    <div class="col-sm-10">
                        {% if read_only %}
                            <ul class="list-group list-group-horizontal-sm">
                                {% for category in categories_field.initial %}
                                    <li class="list-group-item li__category">{{ category }}</li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            {{ categories_field }}
                        {% endif %}
                    </div>
                </div>

                {% if is_super %}
                    {% form_field form 'groups' as groups_field %}
                    <div class="row mb-3">
                        <div class="col-sm-2 text-start">
                            <label for="{{ groups_field.auto_id }}" class="form-label">{{ groups_field.label }}</label>
                        </div>
                        <div class="col-sm-10">
                            {{ groups_field }}
                        </div>
                    </div>
                {% endif %}
            </fieldset>

            {% if not read_only %}
                <div class="row mb-3">
                    <div class="col-sm-2 offset-sm-3">
                        <a class="btn btn-dark mb-1 btn__text" href="{% url 'home' %}">{% trans "Cancel" %}</a>
                    </div>
                    <div class="col-sm-2 offset-sm-2">
                        <button type="submit" class="btn btn-primary btn__text">{% trans "Update" %}</button>
                    </div>
                </div>
            {% endif %}
        </form>
    </div>
</article>

{% endblock content %}

{% block extra_js_body %}
    <!-- include summernote js - use bootstrap4 to match settings.SUMMERNOTE_THEME -->
    <script src="{% static 'summernote/summernote-bs4.min.js' %}"></script>
    <!-- lazy loading summernote need to call initSummernote -->
<!--    <script>-->
<!--        $(document).ready(function() {-->
<!--            initSummernote_id_bio();-->
<!--        });-->
<!--    </script>-->

    {% if read_only %}
        <script>
                $(document).ready(function() {
                    {% form_field form 'bio' as bio_field %}
                    $('#readonly_content').html('{{ bio_field.initial | safe }}');
                });
        </script>
    {% endif %}
    <script>
        /* Update preview image when file selected.
           Based on https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/file#examples */

        const input = document.querySelector('#id_avatar'); /* file input */
        const preview = document.querySelector('.preview'); /* div containing preview image */

        function updateImageDisplay() {
            /* Update avatar preview */
            const curFiles = input.files;
            if (curFiles.length === 0) {
                alert("No files currently selected for upload");
            } else {
                for (const file of curFiles) {
                    if (validFileType(file)) {
                        $(".preview img").prop("src", URL.createObjectURL(file));
                    } else {
                        alert(`${file.name} is not a valid file type. Please update your selection.`);
                    }
                }
            }
        }

        // https://developer.mozilla.org/en-US/docs/Web/Media/Formats/Image_types
        const fileTypes = [
            {% for a in image_file_types %}
                "{{ a }}"{% if forloop.revcounter0 > 0 %},{% endif %}
            {% endfor %}
        ];

        function validFileType(file) {
          return fileTypes.includes(file.type);
        }

        function returnFileSize(number) {
          if (number < 1024) {
            return `${number} bytes`;
          } else if (number >= 1024 && number < 1048576) {
            return `${(number / 1024).toFixed(1)} KB`;
          } else if (number >= 1048576) {
            return `${(number / 1048576).toFixed(1)} MB`;
          }
        }

        $(document).ready(function() {
            $('#id_avatar').on('change',
                function(e) {
                    updateImageDisplay();
                });
        });
    </script>


{% endblock extra_js_body %}
